.container{
    width: 700px !important;
    margin-top: 100px;
}

h1 {
    text-align: center;
  }


body {
    background-color: #daece1 !important;
}
  

#addButton {
    margin-left: 10px !important;
}

#taskList {
    border-radius: 10px;
}

.active {
    background-color: #212529 !important;
}

.list-group {
    --bs-list-group-active-border-color: white !important;
}